@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    /* Aplica la fuente 'Be Vietnam' como fuente principal */
    height: 100%;
    font-family: 'Be Vietnam', sans-serif;
}

button {
    font-family: 'Be Vietnam', sans-serif;
    background-color: #8B48BF;
    color: white;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 4px 7px 0px #00000040;
    font-weight: 500;
    font-size: 14px;
    padding: 10px;
    height: 44px;
    min-width: 134px;
    width: auto;
    /* Hace que el cursor se muestre como una mano al pasar sobre el botón */
    cursor: pointer;
    /* Agrega una transición suave a las propiedades de fondo y sombra */
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    /* Cambia el color de fondo cuando se pasa el cursor sobre el botón */
    background-color: #7a33b1;
    /* Agrega un sombreado suave al botón al pasar el cursor sobre él */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

button.whiteButton {
    background-color: white;
    color: #8B48BF;
}

button.whiteButton:hover {
    background-color: rgb(241, 241, 241);
}

button.smallButton {
    height: 43px;
    min-width: 70px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 16px;
}

div.smallListButton {
    margin-right: 25px;
}

button.lightPurpleButton {
    background: #8B48BFB2;
    width: 134px;
    
}

button.lightPurpleButton:hover {
    background-color: #8135bbb2;
}

button.darkBlueButton {
    background-color: #232C50;
}

button.darkBlueButton:hover {
    background-color: #141a31;
}

button#contactButton {
    float: right;
}

h1 {
    font-family: 'Be Vietnam', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #232C50;
}

h1#mainTitle {
    text-align: right;
    /* Controla la altura de intelineado*/
    line-height: 57.3px;
    /* Controla el espacio horizontal entre los caracteres en un texto */
    letter-spacing: -3.5%;
    width: 450px;
    height: 228px;
}

h2 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    font-size: 42.5px;
    color: #FFFFFF;
}

h2#secondaryTitleWhite {
    font-size: 40px;
    line-height: 47.84px;
    letter-spacing: -0.5%;
    width: 420px;
    height: 96px;
    text-align: left;
}

h2#secondaryTitleDarkBlue {
    font-size: 40px;
    line-height: 61.41px;
    letter-spacing: -1%;
    text-align: center;
    color: #242E53;
    margin: 105px;
    margin-bottom: 100px;
}

h3 {
    font-family: 'Be Vietnam', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
}

h3#thirdTitle {
    line-height: 41.26px;
    width: 450px;
    height: 88px;
}

h5 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    color: #323851;
}

h5#fourthTitle {
    font-weight: 500;
    font-size: 16.56px;
    line-height: 26.01px;
    text-align: right;
    color: #000000;
    width: 450px;
    height: 71px;
}

h5.fifthTitle {
    color: #323851;
    font-size: 16px;
    line-height: 23.38px;
    letter-spacing: -1.5%;
    height: 23px;
    margin-bottom: 15px;
}

h5.personNameTitle {
    font-size: 16px;
    line-height: 25.17px;
    letter-spacing: -1%;
    color: #3F4868;
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-family: 'Be Vietnam', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
}

p.paragraphList {
    color: #B3B2B7;
    letter-spacing: -1%;
    width: 437px;
    height: 104px;
    padding-right: 40px;
}

p#paragraphWhite {
    color: #FFFFFF;
    width: 450px;
    height: 88px;
}

p.paragraphPersonDescription {
    text-align: center;
    color: #B9B9C1;
    width: 403px;
    height: 100px;
    padding-right: 30px;
    margin-bottom: 20px;
}

#sectionOne {
    display: flex;
    justify-content: center;
}

#fraseHome {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 30px;
    padding-right: 0px;
    padding-left: 90px;
}

#sectionTwo {
    display: flex;
    background-color: #8B48BF;
    justify-content: space-evenly;
    margin-top: 100px;
    padding: 40px;
    padding-left: 100px;
    padding-right: 60px;
}

#sectionThree {
    display: flex;
    background-color: #FAFAFA;
    flex-direction: column;
    justify-content: space-evenly;
}

div#firstListItems {
    display: flex;
    justify-content: space-evenly;
    margin-top: 45px;
    margin-left: 40px;
}

div#lastListItem {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    align-items: center;
}

article.listItem {
    display: flex;
}

div.infoListItem {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

#sectionFour {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 180px;
}

div#personDescriptionItems {
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 50px;
}

article.personDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personPhoto {
    position: relative;
    bottom: 35px;
}

 div#lightPurpleButton {
    text-align: center;
 }

 #sectionFive {
    background-color: #8B48BF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 230px 40px 205px;
 }