button {
    background-color: #8B48BF;
    color: white;
    border-radius: 40px;
    padding: 20px;
    border: 0.5px solid black;
}

img {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}

button.whiteButton {
    background-color: white;
    color: #8B48BF;
    border: white;
    box-shadow: inset;
}